<link rel="stylesheet" type="text/css" href='/stylesheets/communityuser.css'>
<div class="tab">
    <button class="tablinks"> <a href="/useraccount"> Account </a> </button>
    <button class="tablinks"> <a href="/community"> Community  </a> </button>


</div>
<h1> {{user}}'s Progress</h1>
<div class="training">
 <h2>Training process</h2>
    <ul>
        {{#each trainingDisplay}}
            <li> <div class = "description">{{description}} </div>  on {{startDate}} <br> at {{startTime}} o'clock</li>
        {{/each}}
    </ul>

</div>



<div class="weight">
    <h2>Weight progress</h2>

    <ul>
        {{#each weightDisplay}}
            <li><div class = "description">{{weightKG}} kg </div> on  {{weightDate}}</li>
        {{/each}}
    </ul>

</div>
