<link rel="stylesheet" type="text/css" href='/stylesheets/community.css'>
<div class="tab">
    <button class="tablinks"> <a href="/useraccount"> Account </a> </button>
    <button class="tablinks"> <a href="/community"> Community  </a> </button>
</div>
<p>{{test}}</p>
<ul>
    {{#each humans}}
        <li><a href="/humans/{{id}}">{{name}}</a></li>
    {{/each}}
</ul>

<ul>
    {{#each test2}}
        <li>{{userName}} in {{city}}</li>
    {{/each}}
</ul>




<form action="/logout" method="post">
    <button class="logoutbttn"> Logout </button>
</form>