<div class="tab">
    <button class="tablinks"> <a href="/account"> Account </a> </button>
    <button class="tablinks"> About </button>
    <button class="tablinks"> Contact </button>
</div>

<h1>{{title}} {{displaytest}}</h1>
<p>Welcome to {{title}}</p>
<p> {{text}}</p>

<div>
    <ul>
        {{#each humans}}
            <li><a href="/humans/{{id}}">{{name}}</a></li>
        {{/each}}
    </ul>

</div>