<link rel="stylesheet" type="text/css" href='/stylesheets/statistics.css'>
<div class="tab">
    <button class="tablinks"> <a href="/useraccount"> Account </a> </button>
    <button class="tablinks"> <a href="/community"> Community  </a> </button>

</div>

<div class="training">
    <h2>Your training progress</h2>

    <ul>
        {{#each trainingstest}}
            <li>{{description}} <br>  at {{startTime}} {{startDate}}</li>
        {{/each}}
    </ul>

</div>

<div class="weight">
    <h2>Your weight progress</h2>

    <ul>
        {{#each weighttest}}
            <li>{{weightKG}} kg at  {{weightDate}}</li>
        {{/each}}
    </ul>

</div>

<form action="/logout" method="post">
    <button class="logoutbttn"> Logout </button>
</form>